<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="es.littledavity.dynamicfeatures.chorbo_list">

    <dist:module
        dist:instant="true"
        dist:title="@features/feature_chorbo_list">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>

