<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.littledavity.chorboagenda">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:name=".ChorboagendaApp"
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ChorboagendaTheme"
        tools:targetApi="m">
        <activity
            android:name="es.littledavity.features.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="IntentFilterExportedReceiver,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="es.littledavity.features.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="es.littledavity.chorboagenda.DASHBOARD_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>
